<form *ngIf="!isLoggedIn()" [formGroup]="loginForm" class="form-signin">
  <h3 class="h3 mb-3 font-weight-normal">Realizar login</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" id="email">
    <div *ngIf="submitted && f.email.errors"  class="invalid-feedback">
      Email é obrigatório e deve conter um formato válido
    </div>
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" formControlName="senha" id="senha">
    <div  *ngIf="submitted && f.senha.errors"  class="invalid-feedback">
      Senha é obrigatório
    </div>
  </div>
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Lembrar das minhas credenciais
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" (click)="login()">Fazer login</button>
  <a [routerLink]="['/usuario/cadastro']">Ainda não possui um cadastro? Clique aqui.</a>
</form>
<div *ngIf="isLoggedIn()" >
  Olá {{nomeLogado}}. Você já está autenticado no nosso sistema.  
  <button class="btn btn-sm-3 btn-primary btn-block" (click)="logout()">Fazer logout</button>
  <p></p>
  <p></p>
  <p></p>
</div>
