
<div class="container">
  <div class="py-5 text-center">
    <h4>IPTU - Imposto Predial Territorial Urbano</h4>
  </div>

  <div *ngIf="iptuDetalhes" class="table-responsive">
    <h5>Informações da propriedade:</h5>
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Nome Proprietário:</th>
          <td>{{iptuDetalhes.Nome}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">CPFCNPJ:</th>
          <td>{{iptuDetalhes.Documento}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Exercício:</th>
          <td>{{iptuDetalhes.Ano}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Logradouro:</th>
          <td>{{iptuDetalhes.Logradouro}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">CEP:</th>
          <td>{{iptuDetalhes.Cep}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Tipo de imóvel:</th>
          <td>{{iptuDetalhes.Tipo}}</td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Valor do imposto:</th>
          <td>R$ {{iptuDetalhes.Valor}}</td>
          <td></td>
        </tr>
    </table>

    <h5>Opções de pagamento:</h5>
    <table class="table">
      <thead>
        <th>Qt.</th>
        <th>Valor parcela</th>
        <th>Valor Total</th>
        <th>Data de vencimento</th>
        <th>Opção de boleto</th>
      </thead>
      <tbody>
        <tr *ngFor="let opcao of iptuDetalhes.OpcoesPagamento">
          <th scope="row">{{opcao.Quantidade}}x </th>
          <td>R$ {{opcao.ValorParcela | number : '1.2-2'}}</td>
          <td>R$ {{opcao.ValorTotal | number : '1.2-2'}}</td>
          <td>{{opcao.DataVencimento | date: 'dd/MM/yyyy'}}</td>
          <td>
            <button  class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Gerar boleto com esta opção">
              Gerar boleto
            </button>
          </td>
        </tr>
    </table>
    
    <button  class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Solicitação de Isenção para aposentados">
      Solicitar isenção
    </button>
    <button  class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Baixar relatório com as cobranças anteriores">
      Relatório dos anteriores
    </button>
  </div>
</div>
