
<div class="container">
  <div class="py-5 text-center">
    <h4>IPTU - Imposto Predial Territorial Urbano</h4>
  </div>

  <div >
   <form [formGroup]="consultaIptuForm" (ngSubmit)="consultarIptu()">
     <div>
        <fieldset class="form-group">
            <div class="row">
              <div class="col-md-6 mb-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  <label class="form-check-label" for="gridRadios1">
                    Pessoa física
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  <label class="form-check-label" for="gridRadios2">
                    Pessoa jurídica
                  </label>
                </div>
            </div>
          </div>
        </fieldset>
        <div class="row">
            <div class="col-md-6 mb-6">
              <label for="document">CPF/CNPJ do Proprietário: *</label>
              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.documento.errors }" formControlName="documento" id="documento">
              <div  *ngIf="submitted && f.documento.errors"  class="invalid-feedback">
                CPFCNPJ é obrigatório
              </div>
            </div>
        </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Acessar</button>
      
  </div>
   </form>
  </div>
</div>
