<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data solicitação</th>
      <th scope="col">Tipo agendamento</th>
      <th scope="col">Data agendamento</th>
      <th scope="col">Situação</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>12/01/2020</td>
      <td>CIVIL</td>
      <td>16/01/2020 09:00</td>
      <td>NÃO COMPARECIMENTO</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>28/08/2020</td>
      <td>CIVIL</td>
      <td>01/09/2020 16:45</td>
      <td>FINALIZADO</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>09/01/2021</td>
      <td>CIVIL</td>
      <td>10/01/2021 13:00</td>
      <td>PENDENTE</td>
    </tr>
  </tbody>
</table>