
<div class="container">
  <div class="py-5 text-center">
    <h4>Cadastro de Usuário</h4>
  </div>

  <div >
   <form [formGroup]="cadastroUsuarioForm" (ngSubmit)="cadastrarUsuario()" >
    <div class="">
      <div class="row">
        <div class="form-group col-md-6 mb-3">
          <label for="name">Nome Completo</label>
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" formControlName="nome" id="name" placeholder="" required>
          <div *ngIf="submitted && f.nome.errors"  class="invalid-feedback">
            Nome completo é obrigatório
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="document">CPF/CNPJ</label>
          <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.documento.errors }" formControlName="documento" id="document" placeholder="" required>
          <div  *ngIf="submitted && f.documento.errors"  class="invalid-feedback">
            CPFCNPJ é obrigatório
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="email">Email</label>
        <input type="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" id="email" placeholder="you@example.com" required>
        <div  *ngIf="submitted && f.email.errors"  class="invalid-feedback">
          Email é obrigatório, digite um email válido
        </div>
      </div>

      <div class="mb-3">
        <label for="telefone">Telefone</label>
        <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefone.errors }" formControlName="telefone" id="telefone" placeholder="(99)99999-9999" required>
        <div  *ngIf="submitted && f.telefone.errors"  class="invalid-feedback">
          Telefone é obrigatório
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="password">Senha</label>
          <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.senha.errors }" formControlName="senha" id="password" placeholder="" required>
          <div  *ngIf="submitted && f.senha.errors"  class="invalid-feedback">
            Senha é obrigatório, com no mínimo 4 caracteres
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <label for="password2">Confirmar senha</label>
          <input type="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confimaSenha.errors }" formControlName="confimaSenha" id="confimaSenha" placeholder="" required>
          <div  *ngIf="submitted && f.confimaSenha.errors"  class="invalid-feedback">
            Confirmação de senha é obrigatório, com no mínimo 4 caracteres
          </div>
        </div>
      </div>
    </div>

     <hr class="mb-4">
     <button class="btn btn-primary btn-lg btn-block" type="submit">Cadastrar Usuario</button>
   </form>
  </div>
</div>
