
<div class="container">
  <div class="py-5 text-center">
    <h2>Todos os serviços</h2>
  </div>

  <div >
    <a class="dropdown-item" href="#">Dados Gerais</a>
    <a class="dropdown-item" href="#">Ambiente</a>
    <a class="dropdown-item" href="#">Agropecuária</a>
    <a class="dropdown-item" href="#">Comércio</a>
    <a class="dropdown-item" href="#">Turismo e Lazer</a>
    <a class="dropdown-item" [routerLink]="['/ouvidoria']">Ouvidoria</a>
    <a class="dropdown-item" [routerLink]="['/cidadao']">Serviços ao Cidadão</a>
    <a class="dropdown-item" href="#">Saúde do Cidadão</a>
    <a class="dropdown-item" [routerLink]="['/iptu']">Consulta IPTU</a>
    <a class="dropdown-item" href="#">Consulta IPVA</a>

    <a class="dropdown-item" [routerLink]="['/gestaoprojetos']">Gestão Estratégica de Projetos</a>
    <a class="dropdown-item" href="#">Sistema Administrativo-Financeiro</a>
    <a class="dropdown-item" href="#">Administração Escolar</a>
    <a class="dropdown-item" href="#">Informações Municipais Georreferenciadas</a>
    <a class="dropdown-item" href="#">Business Intelligence</a>


  </div>
</div>
