a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
a {
  font-size: 0.75rem;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 1.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

a,
a i {
    cursor: pointer;
}

.logado {
  display: flex;
  flex-direction: row;
}

.titulo-logado {
  margin-left: 5px;
  margin-bottom: 0px;
}

.navbar {
  flex-wrap: nowrap;
}
.navbar .container {
  flex-wrap: nowrap;
}
.navbar-nav {
  font-size: .75rem;
}